*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

pre {
  border-radius: 6px;
}

code {
  font-size: 0.875em;
  color: #d63384;
  word-wrap: break-word;
}

.container {
  padding: 0 10px;
  margin: 15px 0 auto;
}

.article__content {
  font-size: 15.2px;
}

.card {
  margin-top: 1rem !important;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
}

.img-fluid {
  margin-top: 1rem !important;
  margin-bottom: 0rem !important;
}

.rounded {
  border-radius: .5rem !important;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  margin-bottom: 15px;
  font-size: 1.5rem;
}

h5,
.h5 {
  margin-bottom: 15px;
  font-size: 1.20rem;
}

h6,
.h6 {
  font-size: 1rem;
}

a {
  color:#00bfa5;
}

ul, ol {
  margin-left: 13px;
  font-size: .9rem;
  padding: 0 15px;
}

strong {
  margin-bottom: 10px;
}

.btn-floating {
  position: fixed;
  width: 46.7px;
  height: 46.7px;
  right: 15px;
  bottom: 20px;
  border-radius: 50%;
  border: 2px solid #00bfa5 rgba(0,0,0,.1);
}

.fa-whatsapp {
  position: relative;
  top: 2.7px;
  right: 3px;
  font-size: 25px;
  color: #fff;
}

.pstn {
  font-size: 14px;
  margin: 15px 20px;
  opacity: .87;
}

.progress-bar {
  background-color: #00bfa5;
}

.special {
  color: #212121;
  font-weight: 405;
  opacity: .8;
}

.headers {
  margin: 0 10px;
}

.shadow-1 {
  box-shadow: 0 5px 10px rgba(154, 160, 185, .05), 0 15px 40px rgba(166, 173, 201, .2);
}

.shadow-2 {
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
}

/* Responsive */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}